<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <connectionStrings>
    <clear />
    <add name="ELIDatabase"
      providerName="System.Data.ProviderName"
      connectionString="User=SYSDBA;
                        Password=ELI;
                        Database='C:/Users/0891435/DATA/ELI_CLIENT_DATABASE.FDB';
                        DataSource=145.24.222.19;
                        Port=8001;
                        Dialect=3" />
  </connectionStrings>
  
</configuration>